.logo img{
    width: 105px;
    height:100px;
}
.navbar
{
    display:flex;
    justify-content: space-between;
   
     padding: 20px;
   

}/* Roadmap background */
.roadmap-page {
    background-image: url("docs.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

/* Container */
.roadmap-container {
    padding: 60px 40px;
    text-align: center;
}

/* Heading */
.roadmap-container h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.roadmap-intro {
    font-size: 18px;
    margin-bottom: 40px;
    opacity: 0.9;
}

/* Grid layout */
.roadmap-grid {
    display: flex;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap;
}

/* Cards */
.roadmap-card {
    background: rgba(19, 18, 18, 0.6);
    width: 280px;
    padding: 25px;
    border-radius: 15px;
    transition: transform 0.3s ease;
}

.roadmap-card:hover {
    transform: translateY(-10px);
}

/* Card headings */
.roadmap-card h2 {
    margin-bottom: 15px;
    color: #00eaff;
}

/* List */
.roadmap-card ul {
    list-style: none;
    padding: 0;
}

.roadmap-card ul li {
    margin: 10px 0;
    font-size: 16px;
}
ul { 
    list-style:none;
     gap: 15px;
  display: flex;
}
ul li a{
  color:white;
  gap:25px;
  display: flex;
  text-decoration: none;
  }
  
footer
{ 
    position: fixed;
    bottom:0;
    width: 100%;

    
    display: flex;             
  justify-content: center;    
  align-items: center;
  background-color:black ;
  padding: 0%;
  color: white;
    
}
.search-box {
  display: flex;
  align-items: center;
  width: 300px;
  background: #ffffff;
  border-radius: 25px;
  padding: 5px;
}

.search-box input {
  border: none;
  outline: none;
  padding: 10px 15px;
  width: 100%;
  border-radius: 25px;
  font-size: 14px;
}

.search-box button {

  background: #baff00;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
}

.search-box button:hover {
  background: #9fd600;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}