.logo img{
    width: 105px;
    height:100px;
}
.navbar
{
    display:flex;
    justify-content: space-between;
   
     padding: 20px;
   text-decoration: none;

}
.nav-links
{
 display: flex;
 

}
body {
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;  
  
}


ul { 
    list-style:none;
     gap: 15px;
  display: flex;
}
ul li a{
  color:white;
  gap:25px;
  display: flex;
  text-decoration: none;
  }
  
footer
{ 
    position: fixed;
    bottom:0;
    width: 100%;

    
    display: flex;             
  justify-content: center;    
  align-items: center;
  background-color:black ;
  padding: 0%;
  color: white;
    
}
.search-box {
  display: flex;
  align-items: center;
  width: 300px;
  background: #ffffff;
  border-radius: 25px;
  padding: 5px;
}

.search-box input {
  border: none;
  outline: none;
  padding: 10px 15px;
  width: 100%;
  border-radius: 25px;
  font-size: 14px;
}

.search-box button {

  background: #baff00;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 16px;
}

.search-box button:hover {
  background: #9fd600;
}
.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.intro-section {
  text-align: 
  center;
 
  color: white;
  margin: 50px 20px;
  padding: 0%;
}
.search-wrapper {
  display: flex;
  justify-content: flex-start; /* 👈 LEFT */
  padding: 10px 40px;
}